* {
  box-sizing: border-box;
}

#app {
  /* border: 1px solid black; */
  /* width: 100%; height: 100%; */
  position: relative;
  background: white;
}

/* #aspect-ratio {
  display: grid;
}

#aspect-ratio > * {
  grid-area: 1 / 1 / 2 / 2;
} */

p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el {
  position: absolute;
  background: red;
  /* height: 100px;
  width: 100px; */
}

.el--selected {
  border: 2px solid black;
}

.cursor-pointer {
  cursor: pointer;
}
